/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Hidden class to initially hide the success message */
.hidden {
    display: none;
}

#successMessage {
    font-family: sans-serif;
    background-color: #5bae53;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Banner Styling */
.banner {
    background-color: #000000; /* Choose a background color */
    color: white; /* Text color */
    text-align: left; /* Center the text */
    padding: 20px 20px 25px; /* Space inside the banner */
    position: fixed; /* Keep it at the top */
    width: 100%; /* Full-width */
    top: 0; /* Align it at the top */
    z-index: 1000; /* Ensure it's on top of other elements */
}

.tagline {
    color: white;
    text-align: center;
    position: fixed;
    left: 7%;
    z-index: 1001;
    margin-bottom: 20px;
}

/* Push main content below the banner */
.content {
    margin-top: 15vh; /* Adjust based on the height of the banner */
    background-color: #000000;
}

.form-container {
    margin-top: 12vh;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

form h2 {
    margin-bottom: 15px;
    color: #000000;
    text-align: center;
}

form p {
    margin-bottom: 10px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3c3c3c;
}

.trustpilot-widget {
    float: right;
    margin-left: 20px; /* Optional: adds spacing to the left */
    text-align: center;
}