/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*font-size: 16px;*/
}

/* Hidden class to initially hide */
.hidden {
    display: none;
}

.navigation-dropdown {
    color: white;
    position: fixed;
    top: 1vh;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1005;
}
 
.display-settings {
    /* Settings for the display settings button */
    color: white;
    position: fixed;
    top: 1vh;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1005;
}

.navigation-button {
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.display-button {
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.menu {
    position: fixed;
    top: 11.5vh;
    right: 0;
    width: 200px;
    background-color: #444;
    border: 1px solid #555;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
    padding: 10;
    border-bottom: 1px solid #555;
}

.menu li a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.menu li a:hover {
    color: #ddd;
    background-color: #555;
}

.rat {
    position: absolute;
    left: -60vw;
    top: -210vh;
    scale: 20%;
}

#successMessage {
    font-family: sans-serif;
    background-color: #5bae53;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-image {
    position: fixed;
    scale: 20%;
    left: 0;
    top: 0;
    z-index: 1001;
    margin: 0px;
}

.header-image-2 {
    position: fixed;
    /* Can't have scale twice! */
    left: 5vw;
    top: 8vh;
    z-index: 1001;
    margin: 0px;
}

/* Banner Styling */
.banner {
    background-color: #000000; /* Choose a background color */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    padding: 2vh 20px 1vh; /* Space inside the banner */
    position: fixed; /* Keep it at the top */
    width: 100%; /* Full-width */
    top: 0; /* Align it at the top */
    z-index: 1000; /* Ensure it's on top of other elements */
}

.top-banner {
    width: 10%; /* Makes the image full width */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes any extra spacing around the image */
    margin: 0; /* Removes any default margin */
    padding-bottom: 0;
}

/* Push main content below the banner */
.content {
    font-size: 20px;
    margin-top: 15vh; /* Adjust based on the height of the banner */
    background-color: #ffffff;
    text-align: left;
    padding-left: 25vw;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 20;
    max-width: 75vw;
}

.form-container {
    margin-top: 12vh;
    max-width: fit-content;
    margin-left:auto;
    margin-right: auto;

    background-color: #dfdfdf;
    padding: 20px 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

form h2 {
    margin-bottom: 15px;
    color: #000000;
    text-align: center;
}

form p {
    margin-bottom: 10px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
    padding-left: 1.5vw;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3c3c3c;
}

.trustpilot-widget {
    float: right;
    margin-left: 20px; /* Optional: adds spacing to the left */
    text-align: center;
}

#restart-computer {
    transition: opacity 0.3s ease;
}

.hidden-text {
    display: none;
}

.clickable-header {
    cursor: pointer;
}

#reinstall-software {
    transition: opacity 0.3s ease;
}

.access {
    color: white;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 20px;
}

.access div {
    /* Can't remember if this bit is important so better just leave it for now! :) */
    width: auto;
    padding: 20px;
}

.menu2 {
    width: 500px;
    background-color: #151515;
    border: 1px solid #3b3b3b;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    left: 50vw - 250px;
    right: auto;
    top: auto;
    bottom: auto;
    padding: 10px;
}

.menu2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu2 li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.menu2 li a {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.menu2 li a:hover {
    color: #ddd;
    background-color: #555;
}

.accessibility-button {
    text-align: left;
}